:root {
  --alive: #f9ffed;
  --semidead: #b1c3b8;
  --dead: #2b3825;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Kollektif;
  src: url('Kollektif.ttf') format('opentype');
}
@font-face {
  font-family: IntroBold;
  src: url('IntroBold.otf') format('opentype');
}
@font-face {
  font-family: JetBrainsMono;
  src: url('JetBrainsMono.ttf') format('opentype');
}

@layer components {
  .surface {
    @apply bg-semidead border-b-4 border-b-dead px-8 py-4;
  }
  .btn {
    @apply bg-dead hover:bg-semidead text-alive hover:text-dead px-4 focus:bg-semidead focus:text-dead outline-dead;
  }
  .btn-active {
    @apply bg-alive text-dead px-4 hover:bg-alive outline-dead;
  }
  .btn-dark {
    @apply bg-semidead hover:bg-alive text-dead outline-dead;
  }
  .btn-dark-active {
    @apply bg-dead text-alive outline-alive;
  }
  .min-h-page {
    @apply min-h-[calc(100vh-4rem)];
  }
  
  .chk {
    @apply cursor-pointer form-checkbox bg-dead hover:text-semidead h-6 w-6 hover:bg-semidead 
  } 
  .chk:checked {
    @apply bg-dead focus:outline-0 hover:text-semidead after:bg-alive after:aspect-square after:px-2 relative after:absolute after:inset-1
  } 
}
